[project]
	description = Fuse file system for HDHOMERUN network tuner
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Malahal (malahal)
[access "refs/for/refs/*"]
	read = group user/Malahal (malahal)
	push = group user/Malahal (malahal)
	label-Code-Review = -2..+2 group user/Malahal (malahal)
	label-Verified = -1..+1 group user/Malahal (malahal)
	rebase = group user/Malahal (malahal)
	removeReviewer = group user/Malahal (malahal)
	submit = group user/Malahal (malahal)
[access "refs/heads/*"]
	read = group user/Malahal (malahal)
	create = group user/Malahal (malahal)
	push = +force group user/Malahal (malahal)
	pushMerge = group user/Malahal (malahal)
[access "refs/tags/*"]
	push = +force group user/Malahal (malahal)
	pushTag = group user/Malahal (malahal)
	pushSignedTag = group user/Malahal (malahal)
